dev/io.openliberty.jaxws_fat/test-applications/specialcharacters/resources/WEB-INF/wsdl/WebServiceWithSpecialCharacters.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://characters.special.jaxws.ws.ibm.com/:.!?$()or.=*#," xmlns:intf="http://characters.special.jaxws.ws.ibm.com/:.!?$()or.=*#," xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://characters.special.jaxws.ws.ibm.com/:.!?$()or.=*#,">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://characters.special.jaxws.ws.ibm.com/:.!?$()or.=*#,">
      <element name="SC">
        <complexType>
          <sequence>
            <element name="input1" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="SCResponse">
        <complexType>
          <sequence>
            <element name="output1" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="SCResponse">
    <wsdl:part element="impl:SCResponse" name="parameters">
		</wsdl:part>
  </wsdl:message>
  <wsdl:message name="SCRequest">
    <wsdl:part element="impl:SC" name="parameters">
		</wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WebServiceWithSpecialCharactersPortType">
    <wsdl:operation name="SC">
      <wsdl:input message="impl:SCRequest" name="SCRequest">
			</wsdl:input>
      <wsdl:output message="impl:SCResponse" name="SCResponse">
			</wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soap12WebServiceWithSpecialCharactersSoapSoapBinding" type="impl:WebServiceWithSpecialCharactersPortType">
    <wsdlsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SC">
      <wsdlsoap12:operation soapAction="http://characters.special.jaxws.ws.ibm.com/:.!?$()or.=*#,/SC"/>
      <wsdl:input name="SCRequest">
        <wsdlsoap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SCResponse">
        <wsdlsoap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceWithSpecialCharacters">
    <wsdl:port binding="impl:soap12WebServiceWithSpecialCharactersSoapSoapBinding" name="soap12WebServiceWithSpecialCharactersSoap">
      <wsdlsoap12:address location="http://localhost:9080/L3SpecChars/WebServiceWithSpecialCharacters"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>